<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Notes APP</title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Personal Notes</h1>
    <form method = "POST">
        <input type="text" name="note" placeholder="write a note" required>
        <button type="submit">Add Note</button>
    </form>

    <h2>Saved Notes:</h2>
    <ul>
        {% for  note in notes %}
            <li>
                {{note}}
                <form action = "/delete/{{ loop.index0 }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
