html{
    background-color: beige;
}
body{
    width: 600px;
    height: 450px;
    border: .2px solid rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px auto;
    background-color: #dffeaf;
    padding: 0px 100px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
    font-size: 60px;
    color: #333;
    padding: 0px;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(226, 184, 184);
}
form{
    margin-bottom: 20px;
}
input{
    padding: 8px;
    margin-right: 5px;
}
button{
    padding: 8px 12px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
form[action*="delete"] button {
    background: #f92008c4;
}
form[action*="delete"] button:hover {
    background: #e9382b;
button:hover{
    background: #45a049;
}
ul{
    list-style-type: square;
    padding-left: 20px;
}
